<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Order</title>
    <link
      rel="stylesheet" href="/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet" href="/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/dataTables.bulma.min.css" />
  </head>
  <body>
    <script src="/js/jquery-3.6.0.min.js" ></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bulma.min.js"></script>
    <script src="/js/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <!-- <script src="/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    
    <div class="columns">
      <div class="column is-2">
        <!-- Sidebar -->
        <div class="bg-custom menu-container px-1 pl-5 pr-5">
          <div class="menu-wrapper">
            <aside class="menu">
              <a href="#" class="logo ml-4">
                <img src="./assets/logo.png" width="150px" alt="" />
              </a>
              <ul class="menu-list">
                <li>
                  <a href="/"><i class="fas fa-thin fa-house mr-3"></i>Home</a>
                </li>
                <li>
                  <a href="/user"><i class="fas fa-thin fa-user mr-3"></i>User</a>
                </li>
                <li>
                  <a href="/cabang"><i class="fas fa-thin fa-code-branch mr-3"></i>Cabang</a>
                </li>
                <li>
                  <a href="/order"><i class="fas fa-thin fa-cart-shopping mr-3"></i>Order</a>
                </li>
                <li>
                  <a href="ongkir"><i class="fas fa-thin fa-truck-fast mr-3"></i>Ongkir</a>
                </li>
              </ul>
            </aside>
          </div>
        </div>
        <!-- Sidebar -->
      </div>
      <!-- Content -->
      <div class="column is-10 mt-3 ">
        <div
          class="is-flex is-justify-content-space-between is-align-items-center"
        >
          <div class="list-container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
              <h3 class="is-size-2">Order</h3>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/order">Order</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="is-flex is-justify-content-center">

          <div class="card fullwidth">
            <div class="card-content fullwidth">
              <table class="table fullwidth" id="mytable">
                <thead> 
                  <tr>
                    <th>ID Order</th>
                    <th>Nama Customer</th>
                    <th>Cabang</th>
                    <th>Tujuan</th>
                    <th>Nama Barang</th>
                    <th>Berat</th>
                    <th>Total Harga</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                    <% dataOrder.forEach(item => { %>
                        <tr>
                          <td><%= item.id_order %></td>
                          <td><%= item.nama_user%></td>
                          <td><%= item.nama_admin%></td>
                          <td><%= item.tujuan%></td>
                          <td><%= item.nama_barang%></td>
                          <td><%= item.berat%></td>
                          <td><%= item.total_harga%></td>
                          <td><%= item.status%></td>
                        
                        </tr>
                    <%})%>
                </tbody>
              </div>
            </div>
          </div>
        </div>
       </table>
      </div>
      <!-- Content -->
      <!-- Modal -->
      
<!-- <script>
   $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#mytable').on('click','.edit',function(){
        var id_order = $(this).data('id');
        var id_barang = $(this).data('id_barang');
        var admin_id = $(this).data('admin_id');
        var id_ongkir = $(this).data('id_ongkir');
        var total_harga = $(this).data('total_harga');

        $('#EditModal').modal('show');
        $('.id_order').val(id_order);
        $('.id_barang').val(id_barang);
        $('.admin_id').val(admin_id);
        $('.total_harga').val(total_harga);
        $('.id_ongkir').val(id_ongkir);
      });
            //tampilkan modal hapus record
        $('#mytable').on('click','.delete',function(){
        var id_order = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.id_ongkir2').val(id_order);
      });
 
    });
</script> -->

  </body>
</html>










